*{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    /* align-items: center; */
    margin-top: 2rem;
}
.container{
    background-color: #95a5a6;
    width: 800px;
    max-width: 100%;
    max-height: 90%;
    padding: 1rem;
    border-radius: 0.6rem;
    padding-left: 2rem;
    
}
h1{
    text-align: center;
}
.elements{
    margin-top: 1rem;
    width: 80%;
    font-size: 1.2rem
}


.form-input{
    width: 100%;
    border-radius: 0.4rem;
    padding: 10px;
    border: 1px solid gainsboro;
    outline: none;
    margin-top: 10px;
}

.submit{
    padding: 5px 10px;
    background-color: lightseagreen;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
}
.display-employees{
    width: 70%;
    padding: 10px;
    /* padding-left: 0; */
    font-size: 1.2rem;
}

.error, .sucess{
    color: white;
    font-size: 1.2rem;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
}
.error{
    background-color: rgb(165, 11, 11);
}
.sucess{
    background-color: purple;
}
.delete{
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(19, 2, 10);
    border: 1px solid blueviolet;
    background-color: crimson;
    padding: 2px 5px;
}
